---
import Layout from "@layouts/Layout.astro";
import { Image } from 'astro:assets';
import Img from '@images/my-family.jpg';
---

<Layout>
  <p class="font-serif text-[clamp(1.25rem,2vw,3em)] leading-[clamp(1.8rem,3.2vw,5em)] text-pretty font-[400]">
    With over a <span id="e1">decade of experience</span>, I specialize in transforming complex
    ideas into <strong
      >sleek, high-performing websites and applications</strong
    >. Currently, I am a <strong><span id="e2">Senior</span> Front-End Developer</strong> at <strong id="e3"
      >Mercedes-Benz</strong
    >, where I design and develop <em>innovative</em>, <em>user-friendly</em> applications,
    working remotely from the <em>beautiful Muizenberg, South Africa</em>.
  </p>

  <article class="prose prose-neutral prose-a:no-underline mt-4 max-w-none">
    <p>
      I bring ideas to life using a suite of modern tools and technologies,
      including <strong>React, JavaScript, and CSS</strong>, to craft <em
        >responsive</em
      > and <em>engaging user interfaces</em>. My toolkit also includes <strong
        >TypeScript</strong
      > for type safety, <strong>Redux</strong> or <strong>Zustand</strong> for efficient
      state management, and <strong>Tailwind CSS</strong> for rapid, utility-first
      styling. By integrating these tools with agile methodologies and staying current
      with industry trends, I create <em>clean, maintainable code</em> and collaborate
      effectively with cross-functional teams. This approach ensures that my solutions
      are not only functional and high-quality but also deliver <em
        >exceptional user experiences</em
      >.
    </p>

    <h3>My Family</h3>

    <Image src={Img} alt="My family" loading="lazy"
    class="rotate-2 lg:rotate-3 rounded-lg bg-zinc-100 mx-auto sm:float-right w-full max-w-sm sm:ml-4 border border-neutral-900 shadow-[4px_4px_0px_0px_rgba(0,0,0)] p-3" />

    <p>
      Outside of work, my family is my main source of inspiration and joy. I am
      a husband to an <em>amazing wife</em> and a proud father to two daughters –
      aged <strong>16</strong> and <strong>1 year</strong>. In my free time, I
      enjoy watching movies and sports such as <strong
        >Brazilian Jiu-Jitsu</strong
      >, <strong>MMA</strong>, and <strong>football</strong>.
    </p>

    <p>
      Overall, I am committed to staying <em>up-to-date</em> with the latest front-end
      development trends and technologies and to delivering <strong
        >high-quality work</strong
      > that meets the needs of users and clients alike.
    </p>
  </article>
</Layout>

<script type="module">
  import {
    annotate,
    annotationGroup,
  } from "https://unpkg.com/rough-notation?module";

  const a1 = annotate(document.querySelector("#e1"), {
    type: "underline",
    color: "red",
  });
  const a2 = annotate(document.querySelector("#e2"), {
    type: "box",
    color: "blue",
  });
  const a3 = annotate(document.querySelector("#e3"), {
    type: "circle",
    color: "green",
  });

  const ag = annotationGroup([a3, a1, a2]);
  ag.show();
</script>
