---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <article class="prose prose-neutral prose-a:no-underline mt-4 max-w-none">
    <p
      class="font-serif text-[clamp(1.2rem,3.2vw,3em)] leading-[clamp(2.4rem,5vw,5em)] text-pretty font-[400]"
    >
      With over a decade of <strong id="e1">experience</strong>, I specialize in
      transforming complex ideas into sleek, high-performing websites and
      applications. Currently, I'm a <strong>Senior Frontend Developer</strong> at
      <strong id="e2">Mercedes-Benz</strong>, where I develop innovative,
      user-friendly applications, working remotely from the beautiful <strong
        id="e3">Muizenberg</strong
      >, <strong>South Africa</strong>.
    </p>

    <p>
      I bring ideas to life using a suite of modern tools and technologies,
      including <strong>React</strong>, <strong>JavaScript</strong>, and <strong
        >CSS</strong
      >, to craft responsive and engaging user interfaces. My toolkit also
      includes <strong>TypeScript</strong> for type safety, Redux or
      <strong>Zustand</strong> for efficient state management, and <strong
        >Tailwind CSS</strong
      > for rapid, utility-first styling. By integrating these tools with agile methodologies
      and staying current with industry trends, I create clean, maintainable code
      and collaborate effectively with cross-functional teams. This approach ensures
      that my solutions are not only functional and high-quality but also deliver
      exceptional user experiences.
    </p>

    <img
      alt="My family"
      loading="lazy"
      class="rotate-3 rounded-lg bg-zinc-100 lg:float-right max-w-sm ml-4"
      src="my-family.jpeg"
    />

    <p>
      Outside of work, my family is my main source of inspiration and joy. I am
      a
      <strong>husband</strong> to an amazing wife and a proud <strong
        >father</strong
      > to two daughters – aged 16 and a 1 year. In my free time, I enjoy watching
      movies and sport such as Brazilian jiu-jitsu, mma and football (soccer).
    </p>
    <p>
      <strong
        >Overall, I am committed to staying up-to-date with the latest front-end
        development trends and technologies, and to delivering high-quality work
        that meets the needs of users and clients alike.</strong
      >
    </p>
  </article>
</Layout>

<script type="module">
  import {
    annotate,
    annotationGroup,
  } from "https://unpkg.com/rough-notation?module";

  const a1 = annotate(document.querySelector("#e1"), {
    type: "underline",
    color: "red",
  });
  const a2 = annotate(document.querySelector("#e2"), {
    type: "box",
    color: "blue",
  });
  const a3 = annotate(document.querySelector("#e3"), {
    type: "circle",
    color: "green",
  });

  const ag = annotationGroup([a3, a1, a2]);
  ag.show();
</script>
