---
import Layout from '../layouts/Layout.astro';
import Arcticle from '../components/Arcticle.astro';
---

<Layout title="About | Gareth le Grange - Senior Frontend Engineere" description="Learn more about Gareth le Grange, an experienced Senior Frontend Engineer with over a decade of expertise in modern web development, user interfaces, and responsive design. Currently leading innovative projects at Webafrica, Gareth is passionate about delivering high-quality, user-centered solutions.">
	<Arcticle>
		<h1>About</h1>
		<p>
		With over a decade of <strong>experience</strong>, I specialize in transforming complex ideas
		into sleek, high-performing websites and applications. Currently, I'm a <strong>Senior
		Frontend Developer</strong> at <strong>Web Africa</strong>, where I lead the development of innovative,
		user-friendly features, working remotely from the beautiful <strong>Muizenberg</strong>, <strong>South
		Africa</strong>.
		</p>

		<p>
		I bring ideas to life using a suite of modern tools and technologies,
		including <strong>React</strong>, <strong>JavaScript</strong>, and <strong>CSS</strong>, to craft responsive and engaging user
		interfaces. My toolkit also includes <strong>TypeScript</strong> for type safety, Redux or
		<strong>Zustand</strong> for efficient state management, and <strong>Tailwind CSS</strong> for rapid,
		utility-first styling. By integrating these tools with agile methodologies and
		staying current with industry trends, I create clean, maintainable code and
		collaborate effectively with cross-functional teams. This approach ensures
		that my solutions are not only functional and high-quality but also deliver
		exceptional user experiences.
		</p>

		<p>
		Outside of work, my family is my main source of inspiration and joy. I am a
		<strong>husband</strong> to an amazing wife and a proud <strong>father</strong> to two daughters &ndash; aged 16 and a
		11 months. In my free time, I enjoy watching movies and sport such as
		Brazilian jiu-jitsu, mma and football (soccer).
		</p>

		<p>
			<strong>Overall, I am committed to staying up-to-date with the latest front-end
		development trends and technologies, and to delivering high-quality work that
		meets the needs of users and clients alike.</strong>
		</p>
	</>
</Layout>
