---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const jobs = await getCollection("jobs");
---

<Layout>
  <p class="text-pretty text-neutral-800 mb-6 text-lg">
    With <strong>over a decade of experience</strong>, I specialize in
    transforming complex ideas into sleek, high-performing websites and
    applications. Currently, I'm a
    <strong>senior frontend developer at Mercedes-Benz</strong>, where I develop
    innovative, user-friendly features and applications, working remotely from
    the beautiful <strong>Muizenberg, South Africa</strong>.
  </p>

  <div class="grid grid-cols-2 gap-8">
    <section id="snippets">
      <h2 class="text-xl font-semibold mb-3">Snippets</h2>
      <!-- <p class="mb-2">
        <em>Bite-sized insights, updates, and code samples</em> from my development
        journey. Whether it’s a <strong>clever code trick</strong>, a <strong
          >quick solution</strong
        > to a tricky problem, or <strong>exciting news</strong> from the tech
        world, you’ll find it all here.
      </p>
      <p>
        <strong
          >Perfect for when you’re short on time but eager to learn something
          new.</strong
        >
      </p> -->
      <p class="mb-2">
        <em>Bite-sized insights, updates, and code samples</em> from my development
        journey.
      </p>
    </section>
    <ol
      class="sticky top-4 p-4 rounded-md border border-neutral-200 bg-white hover:shadow-[4px_4px_0px_0px_rgba(0,0,0)] transition-all duration-200 text-sm space-y-3"
    >
      {
        jobs.map((job: any) => (
          <li>
            <dl class="flex flex-auto flex-wrap gap-x-2">
              <dt class="sr-only">Company</dt>
              <dd class="w-full flex-none text-sm font-semibold">
                {job.data.companyName}
              </dd>
              <dt class="sr-only">Role</dt>
              <dd class="text-xs">{job.data.title}</dd>
              <dt class="sr-only">Date</dt>
              <dd class="ml-auto text-xs">
                <time datetime={job.data.start}>
                  {Intl.DateTimeFormat("en-ZM", {
                    month: "short",
                    year: "numeric",
                  }).format(new Date(job.data.start))}
                </time>
                <span aria-hidden="true">-</span>
                <time datetime={job.data.end}>
                  {job.data.end ? (
                    Intl.DateTimeFormat("en-ZM", {
                      month: "short",
                      year: "numeric",
                    }).format(new Date(job.data.end))
                  ) : (
                    <strong class="font-semibold">Present</strong>
                  )}
                </time>
              </dd>
            </dl>
          </li>
        ))
      }
    </ol>
  </div>
</Layout>
