---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Senior Frontend Engineer - Gareth le Grange">
	<main class="min-h-screen text-center content-center p-6">
		<h1>Gareth le Grange</h1>
		<p>Senior Frontend Engineer</p>
	</main>
</Layout>