---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const jobs = await getCollection("jobs");
---

<Layout>
  <h1 class="text-blue-500">Home</h1>

  <ol>
    {jobs.map((job: any) => <li>{job.data.companyName}</li>)}
  </ol>
</Layout>
