---
const year = new Date().getFullYear();
---

<footer class="text-center py-5">
    <p class="text-neutral-700 text-lg mb-8">
        Have a prject you need help on? Email me at <a href="mailto:garethlegrange+work@gmail.com?subject=Work%20with%20me" class="font-semibold text-neutral-900">garethlegrange+work@gmail.com</a>
    </p>
    <small>Copyright &copy; {year} Gareth le Grange</small>
</footer>