---
import Notification from "./Notification.astro";

---


<header class="pt-6 flex items-center gap-6">
    <a href="/" class="mr-auto text-neutral-700">Gareth le Grange</a>
    <Notification />
<header>