---
import { getCollection } from "astro:content";

const workTotal = (await getCollection("work")).length;
const projectsTotal = (await getCollection("projects")).length;
---

<header class="pt-6">
    <a href="/" class="flex flex-col">
        <span class="font-semibold">Gareth le Grange</span>
        <span class="text-sm tracking-[0.01em]">Frontend developer</span>
    </a>
</header>