---
import Logo from "@components/Logo.astro"
import ThatsMe from "@images/thats_me.svg";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
---

<header class="py-4">
  <div class="container mx-auto flex space-x-6 items-center">
    <div class="relative size-12 mr-auto">
      <a href="/">
        <Logo />
      </a>
      <ThatsMe
        aria-hidden="true"
        class="w-24 h-8 absolute top-13 left-8 transition-all duration-300"
        id="thats-me"
      />
    </div>
    <Nav />
    <Button>Contact me</Button>
  </div>
</header>
