---
import Logo from "@components/Logo.astro";

const links = [
  { name: "About", link: "/about" },
  // { name: "Projects", link: "/projects" },
  { name: "Snippets", link: "/snippets" },
];
---

<header>
  <div class="container mx-auto max-w-4xl flex items-center gap-4 py-4 px-6">
    <Logo />
    <nav>
      <ul class="flex gap-3 text-sm font-mono">
        {
          links.map((link) => (
            <li>
              <a href={link.link}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <a
      role="button"
      href="mailto:garethlegrange+work@gmail.com"
      class="text-sm font-mono font-semibold uppercase px-4 py-2 rounded-md border border-neutral-900 shadow-[4px_4px_0px_0px_rgba(0,0,0)] hover:shadow-none transition-all duration-200 cursor-pointer bg-white"
      >Contact me</a
    >
  </div>
</header>
