---
import { Image } from "astro:assets";
import Img from "@images/me-and-jubilee.jpg";
---

<section class="container mx-auto max-w-4xl my-4">
  <h1
    class="font-serif text-[clamp(1.6rem,3.2vw,3em)] leading-[clamp(2.4rem,5vw,5em)] text-pretty font-[400]"
  >
    <img
      src="wave.svg"
      class="size-9 lg:size-16 float-start mr-2"
      id="wave-image"
      alt="Wave image"
    /> Hello, I'm <span id="underline" class="whitespace-nowrap relative"
      >Gareth
      <button
        class="absolute -top-4.5 lg:-top-10 -right-3 cursor-pointer float-start"
        id="showButton"
        ><img
          src="eyes.svg"
          class="inline-block size-6 lg:size-8"
          id="eyes-image"
          alt="Eyes image"
          id="showButton"
        /></button
      >
    </span> - A <strong class="font-[800]"
      ><span id="box" class="whitespace-nowrap relative">senior</span> frontend developer</strong
    >
    <sup class="font-cursive">(+10 years)</sup> passionate about crafting <em
      class="font-[500] whitespace-nowrap"
      id="highlight">user-centric</em
    > websites and applications.
  </h1>
</section>

<dialog
  class="backdrop:bg-black/50 bg-white mx-auto p-4 rounded-lg top-1/2 -translate-y-1/2 text-right border border-neutral-900 shadow-[4px_4px_0px_0px_rgba(0,0,0)]"
>
  <button id="closeButton" autofocus>Close</button>
  <figure>
    <Image
      src={Img}
      alt="Me and Jubilee, bug fixing."
      loading="lazy"
      class="w-full"
    />
    <figcaption class="text-sm mt-1 text-center">
      Jubilee helping me fix a bug 🐛
    </figcaption>
  </figure>
</dialog>

<script type="module">
  import {
    annotate,
    annotationGroup,
  } from "https://unpkg.com/rough-notation?module";

  const a1 = annotate(document.querySelector("#underline"), {
    type: "underline",
    color: "#48bb78",
  });

  const a2 = annotate(document.querySelector("#box"), {
    type: "box",
    color: "#3b82f6",
  });

  const a3 = annotate(document.querySelector("#highlight"), {
    type: "highlight",
    color: "#f5d35b",
  });

  const ag = annotationGroup([a1, a2, a3]);

  ag.show();
</script>

<script>
  const image = document.getElementById(
    "wave-image"
  ) as HTMLImageElement | null;

  const image2 = document.getElementById(
    "eyes-image"
  ) as HTMLImageElement | null;

  if (image) {
    const originalSrc = "wave.svg";
    const hoverSrc = "wave.webp";

    image.addEventListener("mouseenter", () => {
      image.src = hoverSrc;
    });

    image.addEventListener("mouseleave", () => {
      image.src = originalSrc;
    });
  }

  if (image2) {
    const originalSrc = "eyes.svg";
    const hoverSrc = "eyes.webp";

    image2.addEventListener("mouseenter", () => {
      image2.src = hoverSrc;
    });

    image2.addEventListener("mouseleave", () => {
      image2.src = originalSrc;
    });
  }

  const dialog = document.querySelector("dialog");
  const showButton = document.querySelector("#showButton");
  const closeButton = document.querySelector("#closeButton");

  if (dialog) {
    if (showButton) {
      showButton.addEventListener("click", () => {
        dialog.showModal();
      });
    }

    if (closeButton) {
      closeButton.addEventListener("click", () => {
        dialog.close();
      });
    }
  }
</script>
