---
---

<section class=" lg:min-h-dvh flex flex-col gap-8 pb-4">
    <h1 class="text-balance leading-snug text-center grow content-center font-serif font-thin mx-auto text-[42px] lg:text-[80px] container px-6">Hello, I&apos;m Gareth &ndash; A Senior Frontend Developer passionate about crafting user-centric websites and applications.</h1>

    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-3 lg:gap-6 container mx-auto px-6">
        <li>
            <h6 class="uppercase font-semibold">Availibility</h6>
            <p class="font-light">Available for <strong class="font-semibold">part-time</strong> freelance work</p>
        </li>
        <li>
            <h6 class="uppercase font-semibold">Contact</h6>
            <p class="font-light"><a href="mailto:garethlegrange+work@gmail.com">garethlegrange+work@gmail.com</a></p>
        </li>
        <li>
            <h6 class="uppercase font-semibold">Location</h6>
            <p class="font-light">Remote out of Muizenberg, South Africa</p>
        </li>
    </ul>
</section>