---
import Plus10Years from "@images/plus_ten_years.svg";
---

<h1
  class="font-source-serif font-weight-normal leading-[1.7] text-pretty text-4xl mb-8"
>
  <span>👋</span> Hello, I'm <span
    id="underline"
    class="whitespace-nowrap cursor-pointer">Gareth</span
  > - A <span id="box" class="whitespace-nowrap relative"
    >senior <Plus10Years class="absolute -top-1.5 left-14 w-16 h-6" /></span
  > frontend developer passionate about crafting
  <span id="highlight" class="whitespace-nowrap">user-centric</span> websites and
  applications.
</h1>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";

  const highlight = annotate(document.querySelector("#highlight"), {
    type: "highlight",
    color: "yellow",
  });

  const box = annotate(document.querySelector("#box"), {
    type: "box",
    color: "red",
  });

  const underline = annotate(document.querySelector("#underline"), {
    type: "underline",
    color: "blue",
  });

  highlight.show();
  box.show();
  underline.show();

  const name = document.getElementById("underline");
  const logo = document.getElementById("logo");

  name.addEventListener("mouseover", () => {
    logo.classList.add("scale-125");
  });

  name.addEventListener("mouseout", () => {
    logo.classList.remove("scale-125");
  });
</script>
