---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/utils/cn";

interface Props extends HTMLAttributes<"a"> {}

const { ...props } = Astro.props;
---

<a class={cn("underline", Astro.props.class)} {...props}>
  <slot />
</a>
