---
import type { HTMLAttributes } from "astro/types";
import { classnames } from "@/utils/classnames";

interface Props extends HTMLAttributes<"a"> {}

const { ...props } = Astro.props;
---

<a class={classnames("underline", Astro.props.class)} {...props}>
  <slot />
</a>
