---
---

<!--  w-fit mx-auto fixed left-1/2 -translate-x-1/2 bottom-12 -->
<div class="w-fit sticky top-4">
    <!-- text-[clamp(12px,1vw,24px)]  -->
    <a href="mailto:garethlegrange+work@gmail.com" rel="nofollow" class="font-mono flex items-center gap-3 md:whitespace-nowrap text-xs md:text-sm lg:text-base border rounded-full py-1 px-3 bg-neutral-50 text-neutral-900">
        <span class="relative flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-90"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
        </span>
        <span>I'm currently <strong>available</strong> for freelance work.</span>
        <svg class="size-3 fill-slate-900 ml-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" viewBox="0 0 256 256"><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path></svg>
    </a>
</div>