---
// Supports weights 400-800
import '@fontsource-variable/eb-garamond';
import "@fontsource/geist-sans";
import "@fontsource/geist-mono";
// Supports weights 400-700
import "@fontsource-variable/caveat";
import "@styles/tailwind.css";
import Background from "@components/Background.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro"
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Background />
    <div class="flex flex-col min-h-dvh">
      <Header />
      <Hero />
      <main class="grow container mx-auto py-4 px-6">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script type="module">
  import {
    annotate,
    annotationGroup,
  } from "https://unpkg.com/rough-notation?module";

  const a1 = annotate(document.querySelector("#underline"), {
    type: "underline",
    color: "#48bb78",
  });

  const a2 = annotate(document.querySelector("#box"), { type: "box", color: "#3b82f6" });

  const a3 = annotate(document.querySelector("#highlight"), {
    type: "highlight",
    color: "#f5d35b",
  });

  const ag = annotationGroup([a1, a2, a3]);

  ag.show();
</script>