---
import "@fontsource/libre-caslon-condensed";
import "@fontsource-variable/source-serif-4";
import "@fontsource-variable/inter";
import "@fontsource/geist-mono";
import "@fontsource/permanent-marker";

import "@fontsource/geist-sans";
import "@styles/app.css";
import { SEO } from "astro-seo";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FreeleanceAvailability from "@/components/FreelanceAvailability.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Gareth le Grange - Senior Frontend Developer"
      description="Experienced Senior Frontend Developer specializing in React, JavaScript, and responsive web design."
      openGraph={{
        basic: {
          title: "Gareth le Grange - Senior Frontend Developer",
          type: "profile",
          image: "https://avatars.githubusercontent.com/u/12164551?v=4",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "author", content: "Gareth le Grange" },
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
        ],
      }}
    />
  </head>
  <body class="font-inter-variable antialiased">
    <div
      class="absolute inset-0 -z-10 size-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    >
      <div
        class="absolute inset-x-0 top-0 -z-10 m-auto size-[310px] rounded-full bg-neutral-400 opacity-20 blur-[100px]"
      >
      </div>
    </div>
    <div
      class="flex flex-col space-y-8 min-h-dvh container mx-auto max-w-4xl px-6"
    >
      <Header />
      <main class="grow">
        <slot />
        <FreeleanceAvailability availability="limited" />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";

  const highlight = annotate(document.querySelector("#highlight"), {
    type: "highlight",
    color: "yellow",
  });
  highlight.show();

  const box = annotate(document.querySelector("#box"), {
    type: "box",
    color: "red",
  });
  box.show();

  const underline = annotate(document.querySelector("#underline"), {
    type: "underline",
    color: "blue",
  });

  underline.show();

  const name = document.getElementById("underline");
  const logo = document.getElementById("logo");
  const arrow = document.getElementById("arrow");

  name.addEventListener("mouseover", () => {
    logo.classList.add("scale-125");
    arrow.classList.remove("hidden");
  });

  name.addEventListener("mouseout", () => {
    logo.classList.remove("scale-125");
    arrow.classList.add("hidden");
  });
</script>
