---
import "@fontsource-variable/source-serif-4";
import "@fontsource-variable/inter";
import "@styles/app.css";
import { SEO } from "astro-seo";
import Background from "@/components/Background.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Footer from "@/components/Footer.astro";
import FreeleanceAvailability from "@/components/FreelanceAvailability.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Gareth le Grange - Senior Frontend Developer"
      description="Experienced Senior Frontend Developer specializing in HTML, CSS, React, TypeScript, JavaScript, and responsive web design."
      openGraph={{
        basic: {
          title: "Gareth le Grange - Senior Frontend Developer",
          type: "profile",
          image: "https://avatars.githubusercontent.com/u/12164551?v=4",
        },
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "author", content: "Gareth le Grange" },
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
        ],
      }}
    />
  </head>
  <body class="font-inter-variable antialiased text-neutral-900">
    <Background />
    <div
      class="flex flex-col space-y-8 min-h-dvh container mx-auto max-w-4xl px-6"
    >
      <Header />
      <Hero />
      <main class="grow">
        <slot />
        <FreeleanceAvailability availability="limited" />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script type="module" src="https://unpkg.com/rough-notation/lib/rough-notation.iife.js" />
